#container {
    width: 500px;
}

#container div {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    float: left;
}

.player {
    background-color: red;
}

.grey {
    background-color: grey;
}